* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik",
        sans-serif;
}


<<<<<<< HEAD
#header {
    height: 80px;
    position: relative;
}

#content_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgb(168 191 199);
}

#content_header>.logo {
    display: inline-block;
    float: left;
    margin-left: -3px;

}

.logo img {
    height: 100px;
    object-fit: cover;
    object-position: 100% 45%;
}

#content_header .nav {
    display: inline-block;
    float: left;
}

#content_header .nav .sub_nav {
    display: none;
    width: 180px;
    position: absolute;
    background-color: white;
    left: 1px;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

#content_header .nav li:nth-child(4):hover .sub_nav {
    display: block;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.nav::before {
    position: absolute;
    left: 0;
    height: 49px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    background: #efefef;
    content: '';
    left: 20%;
}

#content_header .nav li {
    margin: 24px;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    position: relative;
    text-transform: capitalize;
}

#content_header .nav li:hover>a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #1EC6B6;
}

#content_header .nav li a,
.contact a,
.search-icon a {
    color: #040E27;
    text-decoration: none;
}

#content_header>.contact {
    display: block;
    float: left;
}

.arrow-down {
    font-size: 10px;
}

.contact span {
    padding: 0 5px;
    border-right: 1px solid #EAEAEA;

}

.contact a {
    padding: 10px;
}

#header #content_header .search-icon {

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 30px;
    background: #FF4A52;

    font-size: 30px;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

#header #content_header .search-icon .search {
    color: #f5d9d9;
}
=======
>>>>>>> 21f596250abc91a694f6cd2651392635122b4fb3

.banner {
    padding-top: 60px;
    background-image: url(../img/wolfgang-hasselmann--UXVR8xThzc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    color: white;
}

.banner-container {
    width: 75%;
    margin: 0 auto;
}

.banner .title {}

.banner .title p {
    margin: 20px 645px 0 0;
}

.banner .img-table {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

.img-table div {
    width: 50%;
    margin: 10px;
}

.img-table img {
    width: 100%;
    margin-bottom: 10px;
    /*margin: 0 auto;*/
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px;
}

/* set height img 2*/
.img-table .img2 {
    height: 28vw;
}

.content1 {
    width: 75%;
    margin: 0 auto;
    margin-top: -38px;
    padding-bottom: 50px;

}

.content1 .img-container {
    border-radius: none;
    border: none;
    height: 680px;
}

.content1 div {
    border-radius: 50%;
    border: 10px solid #ffffff;
}

.content1 .img1 {
    width: 130px;
    height: 130px;
    margin: 10% 0 0px 0px;
    border: none;
    background: rgb(250 0 11 / 55%);
}

.content1 .img2 {
    width: 540px;
    height: 540px;
    margin: -8% 0 0px 25%;
    background-image: url(../img/people.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.content1 .img3 {
    width: 340px;
    height: 340px;
    margin: -24% 0 0px 5%;
    background-image: url(../img/beach.jpg);
    background-size: cover;
}

.content1 .img4 {
    width: 100px;
    height: 100px;
    margin: -37% 0 0 88%;
    border: 10px solid rgb(250 0 11 / 55%);
    z-index: -1;

}

.content1 .img5 {
    width: 250px;
    height: 250px;
    margin: -2% 0 0 66%;
    background-image: url(../img/tree.jpg);
    background-size: cover;
}

.content1 .paragraph {
    border: none;
    width: 100%;
    height: 100px;
    margin-left: 50%;
    width: 50%;
}

.out-story {
    padding-top: 10px;
    background-image: linear-gradient(rgb(90 222 210 / 26%), rgb(255 239 67 / 13%)), url(../img/beach5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 20%;
    color: white;
    /*opacity: 10px;*/
}

.out-story-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 8%;
}

.out-story-container .container-img::before {
    content: "Img here";
    /* line-height: */
}

.out-story-container .container-img {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.out-story-container div {
    margin: 67px 0;
}

.out-story-container>div:first-child {
    margin: 67px -100px;

}

.out-story-container .counter {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.out-story-container .counter h3 {
    font-size: 4em;
    color: #e6121bbd;
    text-align: center;
}

.out-story-container .counter p {
    color: #0884ebd9;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
    line-height: 28px;
    text-align: center;
}

.content3 .img-container {
    width: 1140px;
    position: relative;
    margin: 0 auto;
    /* z-index: -1; */
}

/* .content3 .img-container::before {
    content: "";
    display: table;
} */

.content3 .img-container .img1 {
    width: 72%;
    object-position: 50% 0%;
    height: 691px;
    position: relative;
    margin: 0 9%;
}

.content3 .img-container .img2 {
    position: absolute;
    width: 100%;
    left: 5px;
    right: auto;

}

.content3 .img-container .img3 {
    width: 230px;
    margin: -66px 0 0 -624px;
}

.content3 .container {
    position: relative;
    width: 668px;
    min-height: 499px;
    height: auto;
    margin: -585px auto 112px 236px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    /* z-index: 1; */
}

.content3 .container h3 {
    margin: -76px 0px 21px 0px;
}

.content3 .container h1 {
    margin: 27px 0px 35px 0;
}

.content3 .container a {

    text-transform: none;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 22px;
    position: relative;
    color: #fff;
    transition: all 400ms;

    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 33%);
}

.content3 .container a:hover {
    background-color: rgba(255, 254, 254, 0.232);
    /* padding: 14px 24px; */
    padding-left: 12px;
    padding-right: 37px;

}

.content3 .container a:after {
    content: ">>";
    position: absolute;
    opacity: 0;
    top: 11px;
    right: -5px;
    transition: all 0.5s;
    font-size: 15px;
}

.content3 .container a:hover::after {
    opacity: 1;
    right: 10px;
}

.content4 {
    background-color: #f1f1f182;
    padding-top: 100px;
    padding-bottom: 35px;
}

.content4 .row {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0 auto;
}

.content4 div {
    margin-bottom: 40px;
}

.content4 .row .col {
    padding: 0 20px;
}

.content4 .row .icon {
    text-align: center;
}

.content4 .row .text {
    text-align: center;
    color: #6e6e6e;
}

.content4 .row h2 {
    margin-bottom: 20px;
    color: #040e27;
}

#footer {
    margin-top: 45px;
    height: 450px;
    padding: 120px 0;
    background-color: #040E27;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer>.contact-img {
    margin-right: 20px;
}

#footer>.contact-item,
.contact-popular {
    list-style-type: none;
    color: #bbb;
    margin: 0 30px;
}

#footer>.contact-item li {
    display: inline-block;
}

#footer>.contact-item a {
    margin: 5px;
    text-decoration: none;
    color: #bbb;
}

#footer>.contact-item li:hover a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #FF4A52;
}

#footer>.contact-popular {
    display: block;
}

#footer>.contact-popular li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#footer>.contact-popular a {

    text-decoration: none;
    color: #bbb;
}

#footer>.contact-popular li:hover a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #FF4A52;
}

.contact-popular-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.contact-insta-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px
}

.contact-popular h3 {
    font-family: var(--font-text);
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
}

.contact-insta img {
    border-radius: 5px;
    width: 75px;
    height: 75px;
}