* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik",
        sans-serif;
}

a {
    text-decoration: none;
    color: white;
}


#header {
    height: 80px;
    position: relative;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #fafafa;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #1EC6B6, #EAEAEA);
    border-radius: 50px;
}

:root {
    --font-text: font-family: -apple-system,
        system-ui,
        system-ui,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Fira Sans",
        Ubuntu,
        Oxygen,
        "Oxygen Sans",
        Cantarell,
        "Droid Sans",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Lucida Grande",
        Helvetica,
        Arial,
        sans-serif;
}

#loadpage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff url(../img/load.gif) no-repeat center center;
    background-size: 30%;
    z-index: 999999;
}

#header>#content_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgb(168 191 199);
}

#content_header>.logo {
    display: inline-block;
    margin-left: -3px;

}

.logo img {
    height: 80px;
    object-fit: cover;
    object-position: 100% 45%;
}

#content_header>.nav {
    display: inline-block;
    margin-right: 10%;
    position: relative;
}

@media screen and (min-width: 1800px) {
    #content_header>.nav {
        margin-right: 20%;
        margin-left: 10%;
    }

    #content_header>.logo {

        margin-left: 5%;

    }
}


@media screen and (max-width:1366) {
    #content_header>.nav {
        margin-right: 6%;
    }
}

@media screen and (min-width: 1500px) {
    #content_header>.nav {
        margin-right: 13%;
    }
}

@media screen and (min-width: 1500px) {
    #content_header>.nav {
        margin-right: 10%;

        margin-left: 5%;
    }

    #content_header>.logo {

        margin-left: 2%;

    }
}

@media screen and (min-width:1700px) {
    #content_header>.nav {
        margin-right: 18%;
        margin-left: 5%;
    }
}

#content_header .nav .sub_nav {
    display: none;
    width: 180px;
    position: absolute;
    background-color: white;
    left: 1px;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

#content_header .nav li:nth-child(4):hover .sub_nav {
    display: block;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

/* .nav::before {
    position: absolute;
    left: 0;
    height: 49px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    background: #efefef;
    content: '';
} */

#content_header .nav li {
    padding: 24px;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    position: relative;
    text-transform: capitalize;

}

#content_header .nav li:hover>a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #1EC6B6;
}



#content_header .nav li a,
.contact a,
.search-icon a {
    color: #040E27;
    text-decoration: none;
}

#content_header>.contact {
    display: block;
    float: left;
}

.contact .loginBtn {

    border-radius: 44px;
    box-shadow: 1px 1px 3px #00000052;
    padding: 10px 20px;
}

.arrow-down {
    font-size: 10px;
}

.contact span {
    padding: 0 5px;

}

.contact a {
    padding: 10px;
}

#header #content_header .search-icon a {
    position: absolute;
    right: 20px;
    top: 20px;
    /* bottom: 0px; */
    padding: 13px 12px 9px 13px;
    background: rgb(255, 74, 82);
    font-size: 20px;
    margin: auto;
    display: flex;
    place-items: center;
    border-radius: 50%;
    transition: all 250ms ease;
}

#header #content_header .search-icon input {
    position: absolute;
    opacity: 0;
    right: 10px;
    top: 20px;
    padding: 12px 0px 12px 48px;
    border-radius: 25px;
    border: 1px solid #ccc;
    width: 200px;
    outline: none;
    transition: all 400ms ease;
}

#header #content_header .search-icon:hover {
    color: #fff;
    background-color: #fff;
}

#header #content_header .search-icon .search {
    color: #f5d9d9;
}


.search-input {
    display: none;
}


#footer {
    margin-top: 45px;
    /* height: 450px; */
    padding: 120px 0;
    background-color: #040E27;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#footer>.contact-img {
    margin-right: 20px;
}

#footer>.contact-item,
.contact-popular {
    list-style-type: none;
    color: #bbb;
    margin: 0 30px;
}

#footer>.contact-item li {
    display: inline-block;
}

#footer>.contact-item a {
    margin: 5px;
    text-decoration: none;
    color: #bbb;
}

#footer>.contact-item li:hover a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #FF4A52;
}

#footer>.contact-popular {
    display: block;
}

#footer>.contact-popular li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#footer>.contact-popular a {

    text-decoration: none;
    color: #bbb;
}

#footer>.contact-popular li:hover a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #FF4A52;
}

.contact-popular-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 0;
}

.contact-insta-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px
}

.contact-popular h3 {
    font-family: var(--font-text);
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
}

.contact-insta img {
    border-radius: 5px;
    width: 75px;
    height: 75px;
}



#loginform {
    /* visibility:hidden; */
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(76 76 76 / 23%);
    z-index: 1000;
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

#login>div {
    position: relative;
    z-index: 1;
}

#login {
    width: 400px;
    height: 500px;
    background: url(../img/login.jpg);
    background-size: cover;
    border-radius: 30px;
    position: relative;
    color: black;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 31%);
    /* transition: all 0.5s ease; */
}

#login::before,
#signup::before {
    content: "";
    position: absolute;
    /* z-index: ; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255 255 255 / 40%);
    background-size: cover;
    border-radius: 30px;
}

#signup::before {
    z-index: -1;
}

#login .headline {
    margin: 40px 0 30px 0;
}


#login .headline h2 {
    background: linear-gradient(to right, #eee, #333);

    -webkit-text-fill-color: transparent;
}



#login .headline h2 {
    font-size: 42px;
    background: linear-gradient(to right, #ffffff, rgb(0 0 0));
    text-shadow: -3px -2px 0px #00c961;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#login .form {
    padding-top: 7px;
}

#login .form>div {

    display: flex;
    flex-direction: column;
    margin: 0 45px 15px 45px;
}

#login .form label {
    text-align: left;
    margin-left: 5px;
}

#login .form input {
    line-height: 22px;
    border-radius: 10px;
    padding: 6px;
    border: 1px solid #ffffff00;
}

#login .form input:focus {
    outline: 1px solid #ffffff00;
}

#login button {
    margin: 25px 0 0 0;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    background-color: #1ec6b6;
    color: #fff;
}

#login button:hover,
#login button:active {
    background-color: #FF4A52;
}

#login .forgotPassword {
    width: 100%;
    box-sizing: border-box;
    margin: 0 !important;
}

#login .forgotPassword .rememberMe {
    margin-right: 50px;
}

#login .social p {
    margin-top: 10px;
}

#login .create a {
    color: blue;
}

#login .social i {
    font-size: 40px;
    padding: 10px;
    transition: transform 100ms ease;
}

#login .social i:hover {
    transform: scale(1.1);
}

.forgotPassword>a {
    color: blue;
    transition: color 400ms ease;
}

.forgotPassword>a:hover {
    color: red;
}


.fa-brands.fa-facebook-square::before {
    content: "\f082";
}

.fa-brands.fa-facebook-square {
    color: hsl(214, 100%, 59%);
    ;
}

.fa-brands.fa-google-plus-square::before {
    content: "\f0d4";
}

.fa-brands.fa-google-plus-square {
    color: red;
}

.fa-brands.fa-twitter-square::before {
    content: "\f081";
}

.fa-brands.fa-twitter-square {
    color: rgb(29, 155, 240);
}


.container-form {
    /* transform: translate(-50%, -50%); */
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    color: black;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-form {
    position: relative;
    font-size: 20px;
    height: 70%;
    width: 50%;
    padding: 20px;
    border-radius: 1em;
    background-image: url(../img/phuquoc-popular.jpg);
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fa303a;
    text-shadow: -1px -1px 0px #333;
    box-shadow: 5px #333;
}

.book-form>.title {
    text-align: center;
    font-family: "Nothing You Could Do", cursive;
    font-size: 80px;
    font-weight: 400;
    text-shadow: -3px -2px 0px #333;
}

.form div {
    margin: 15px;
    text-align: left;
}

.form span {
    margin: 10px 15px;
}

.form-input {
    margin: 5px 15px;
    border: 1px solid #040E27;
}

.form .form-input,
.form .people-input {
    font-size: 1em;
    border-radius: 0.7em;
    display: flex;
    height: 2em;
    width: 21.9em;
}

.form-left {
    font-size: 27px;
    color: #333;
}

.confirm {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%);
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    /* transform: translateZ(0); */
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 40%;
}

.confirm:hover {
    -webkit-filter: brightness(1.1);
}

.parent {
    display: inline-block;
}

.child {
    display: inline-block;
}

.form .people-input {
    width: 10em;
    height: 2em;
}

#signup {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    height: 500px;
    background: url(../img/login.jpg);
    background-size: cover;
    border-radius: 30px;
    position: relative;
    color: black;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 31%);
}

#signup button {
    margin-top: 5px;

}