* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: "Rubik",
        sans-serif;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-45deg, #1EC6B6, #fff);
    border-radius: 0 0 50px 50px;
}


#header {
    height: 80px;
    position: relative;
}

:root {
    --font-text: font-family: -apple-system,
        system-ui,
        system-ui,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Fira Sans",
        Ubuntu,
        Oxygen,
        "Oxygen Sans",
        Cantarell,
        "Droid Sans",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Lucida Grande",
        Helvetica,
        Arial,
        sans-serif;
}

#header>#content_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #ffffff;
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgb(168 191 199);
}

#content_header>.logo {
    display: inline-block;
    /* float: left; */
    margin-left: -3px;

}

#header .logo img {
    height: 80px;
    object-fit: cover;
    object-position: 100% 45%;
}

#content_header>.nav {
    display: inline-block;
    margin-right: 9%;
    position: relative;
}

#content_header .nav .sub_nav {
    display: none;
    width: 180px;
    position: absolute;
    background-color: white;
    left: 1px;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

#content_header .nav li:nth-child(4):hover .sub_nav {
    display: block;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

#header .nav::before {
    position: absolute;
    left: 0;
    height: 49px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    background: #efefef;
    content: '';
}

#content_header .nav li {
    margin: 24px;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    position: relative;
    text-transform: capitalize;

}

#content_header .nav li:hover>a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #1EC6B6;
}



#content_header .nav li a,
#header .contact a,
#header .search-icon a {
    color: #040E27;
    text-decoration: none;
}

#content_header>.contact {
    display: block;
    float: left;
}

#header .arrow-down {
    font-size: 10px;
}

#header .contact span {
    padding: 0 5px;
    border-right: 1px solid #EAEAEA;

}

#header .contact a {
    padding: 10px;
}

#header #content_header .search-icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 25px;
    background: #FF4A52;
    font-size: 30px;
    margin: auto;
    display: flex;
    justify-items: center;
    align-items: center;
}

#header #content_header .search-icon .search {
    color: #f5d9d9;
}

#footer {
    margin-top: 45px;
    /* height: 450px; */
    padding: 120px 0;
    background-color: #040E27;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#footer>.contact-img {
    margin-right: 20px;
}

#footer>.contact-item,
.contact-popular {
    list-style-type: none;
    color: #bbb;
    margin: 0 30px;
}

#footer>.contact-item li {
    display: inline-block;
}

#footer>.contact-item a {
    margin: 5px;
    text-decoration: none;
    color: #bbb;
}

#footer>.contact-item li:hover a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #FF4A52;
}

#footer>.contact-popular {
    display: block;
}

#footer>.contact-popular li {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

#footer>.contact-popular a {

    text-decoration: none;
    color: #bbb;
}

#footer>.contact-popular li:hover a {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
    color: #FF4A52;
}

.contact-popular-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 0;
}

.contact-insta-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px
}

.contact-popular h3 {
    font-family: var(--font-text);
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
}

.contact-insta img {
    border-radius: 5px;
    width: 75px;
    height: 75px;
}